<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="truck">
      <h2 data-cy="truckDetailsHeading"><span jhiTranslate="truckBossApp.truck.detail.title">Truck</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ truck.id }}</span>
        </dd>
        <dt><span jhiTranslate="truckBossApp.truck.code">Code</span></dt>
        <dd>
          <span>{{ truck.code }}</span>
        </dd>
        <dt><span jhiTranslate="truckBossApp.truck.model">Model</span></dt>
        <dd>
          <span>{{ truck.model }}</span>
        </dd>
        <dt><span jhiTranslate="truckBossApp.truck.registrationDate">Registration Date</span></dt>
        <dd>
          <span>{{ truck.registrationDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="truckBossApp.truck.monthDue">Month Due</span></dt>
        <dd>
          <span>{{ truck.monthDue }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/truck', truck.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
