<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-schedule-heading" data-cy="ScheduleCreateUpdateHeading" jhiTranslate="truckBossApp.schedule.home.createOrEditLabel">
        Create or edit a Schedule
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="truckBossApp.schedule.status" for="field_status">Status</label>
          <input type="number" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="truckBossApp.schedule.truck" for="field_truck">Truck</label>
          <select class="form-control" id="field_truck" data-cy="truck" name="truck" formControlName="truck">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="truckOption.id === editForm.get('truck')!.value?.id ? editForm.get('truck')!.value : truckOption"
              *ngFor="let truckOption of trucksSharedCollection; trackBy: trackTruckById"
            >
              {{ truckOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="truckBossApp.schedule.plan" for="field_plan">Plan</label>
          <select class="form-control" id="field_plan" data-cy="plan" name="plan" formControlName="plan">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="planOption.id === editForm.get('plan')!.value?.id ? editForm.get('plan')!.value : planOption"
              *ngFor="let planOption of plansSharedCollection; trackBy: trackPlanById"
            >
              {{ planOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
