<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="plan">
      <h2 data-cy="planDetailsHeading"><span jhiTranslate="truckBossApp.plan.detail.title">Plan</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ plan.id }}</span>
        </dd>
        <dt><span jhiTranslate="truckBossApp.plan.startLat">Start Lat</span></dt>
        <dd>
          <span>{{ plan.startLat }}</span>
        </dd>
        <dt><span jhiTranslate="truckBossApp.plan.startLong">Start Long</span></dt>
        <dd>
          <span>{{ plan.startLong }}</span>
        </dd>
        <dt><span jhiTranslate="truckBossApp.plan.endLat">End Lat</span></dt>
        <dd>
          <span>{{ plan.endLat }}</span>
        </dd>
        <dt><span jhiTranslate="truckBossApp.plan.endLong">End Long</span></dt>
        <dd>
          <span>{{ plan.endLong }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/plan', plan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
